/* Reset margin and padding */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;

}

/* Flexbox layout to center the content */
body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebdef0;
	position: relative; /* Ensure absolute positioning works relative to body */
}

/* Center the content in the container */
.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 10px;
	max-width: 100%;
	margin: 60px;
	position: relative; /* Make this container a positioning context */
}

/* Make the tenor gif embed responsive */
.container .tenor-gif-embed {
	width: 600px !important;
	height: 600px !important;
}

/* Styling for the buttons */
.container .btn {
	display: flex;
	gap: 25px;
	position: relative;
	z-index: 10;
}

/* Button styles */
.btn a {
	text-decoration: none;
	color: #17202a;
	background: #ffff;
	padding: 10px 25px;
	border-radius: 8px;
	box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0.3);
}

#move-random {
	cursor: pointer;
	transition: transform 0.2s ease;
	position: relative;
	z-index: 15;
}
